@import "./core/reset.scss";
@import "./libs/common.scss";
@import "./libs/header.scss";
@import "./libs/footer.scss";
@import "./libs/index.scss";
@import "./libs/business.scss";
@import "./libs/scientific.scss";
@import "./libs/about.scss";
@import "./libs/technology.scss";
html,
body {
    width: 100%;
    height: 100%;
}
#app {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    .container {
        padding: 0;
        width: 1040px;
        margin: 0 auto;
    }
}
body {
    overflow-y: scroll;
    font-size: $fontSize4;
}
@font-face {
    font-family: iconfont;
}

.iconfont {
    font-family: iconfont;
}